@media only screen and (max-width: 780px) {
    body {
        background-color: #fffff8;
        padding-left: $mobile-main-padding;
        padding-right: $mobile-main-padding;
        padding-top: 3px;
    }
}